@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;

.card {
  text-align: left;
  height: 50vh;
  justify-content: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  @include flex-direction;

  background: linear-gradient(135deg, #bce7b7 0%, #bfb5ff 100%);
  border-radius: 25px;
  padding: 0 20px;

  &__wrapper {
    margin-left: 20px;
    justify-content: space-around;
    display: flex;
    flex-direction: column;
  }

  &__title {
    font-size: 2.75rem;
    font-weight: bold;
    margin-bottom: 1rem;
    color: $primary-text;
    max-width: 70%;
  }

  &__subtitle {
    font-size: 1.55rem;
    font-weight: 400;
    margin-bottom: 1.5rem;
    color: $primary-text;
    max-width: 90%;
  }

  &__btn {
    display: inline-flex;
    @include button;

    svg {
      margin-left: 0.5rem;
    }
  }
}
