$primary-text: #1a1e18;
$hover-color: #f2f1eb;
$background-color: #ffffff;
$secondary-color: #f4f4f4;
$button: #c7c8cc;
$carousel: #fdfcf7;
$additional: #bfb5ff;
$review-color: #8b5cf6;
$yellow: #ffd700;
$button-dark: #1d1c28;

$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;
