@use "./styles/variables" as *;

.card {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  text-align: left;
  overflow: hidden;
  background: linear-gradient(135deg, #bce7b7 0%, #bfb5ff 100%);
  border-radius: 25px;
  padding: 20px;
  height: calc(50% + 20px);

  &__title {
    font-size: 2.75rem;
    font-weight: bold;
    margin-bottom: 1rem;
    color: $primary-text;
    max-width: 70%;
  }

  &__subtitle {
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 1.5rem;
    color: $primary-text;
    max-width: 90%;
  }

  &__btn {
    display: inline-flex;
    align-items: center;
    padding: 0.75rem 1.5rem;
    border: none;
    border-radius: 2rem;
    color: $button-dark;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;

    &:hover {
      background-color: darken($background-color, 10%);
    }

    svg {
      margin-left: 0.5rem;
    }
  }
}
