@use "./styles/variables" as *;

* {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
}

body {
  background-color: $background-color;
  color: $primary-text;
}

ul {
  list-style-type: none;
  text-decoration: none;
  font-family: inherit;
}

h1 {
  font-size: 2rem;
  line-height: 2.5rem;
}

h2 {
  color: $primary-text;
}
