@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;

.search-input {
  padding: 0 1rem;
  max-width: 48rem;
  @include flex-direction;

  h2 {
    display: flex;
    justify-content: flex-start;
  }

  &__wrapper {
    display: flex;
    align-items: center;
    position: relative;
  }

  &__input {
    width: 100%;
    padding: 0.75rem 3rem;
    font-weight: 500;
    border-radius: 1.563rem;
    background-color: white;
    box-shadow: 0 4px 6px rgba(0, 0.1, 0.1, 0.3);
    border: none;

    &:focus {
      outline: none;
    }
  }

  .icon-btn {
    position: absolute;
    padding: 0.5rem;
    border-radius: 50%;
    border: none;
    cursor: pointer;

    &:hover {
      background-color: $hover-color;
    }

    svg {
      display: block;
      color: $button-dark;
    }
  }

  .add {
    left: 0.5rem;
  }

  .submit {
    right: 0.5rem;
  }
}
